.sidebar
  .sidebar-header
    .sidebar-header__username
      test-user
    =link_to "#", class: "sidebar-header__btn" do
      = icon('fas', 'edit', class: "sidebar-header__btn--icon fa-pull-right")
      %span<>
    =link_to "#", class: "sidebar-header__btn" do
      = icon('fas', 'cog', class: "sidebar-header__btn--icon fa-pull-right")
      %span<>
  .sidebar-contents
    .sidebar-contents__group
      .sidebar-contents__group--name
        test-group
      .sidebar-contents__group--newchat
        hello
    .sidebar-contents__group
      .sidebar-contents__group--name
        sample-group
      .sidebar-contents__group--newchat
        good
    .sidebar-contents__group
      .sidebar-contents__group--name
        example-group
      .sidebar-contents__group--newchat
        hey
